# **Scraping Notebook**

The purpose of this notebook is to be run every month to update our datasets with the last reviews published, and get reviews for the new companies we want to study.

## **0) Imports**

In [1]:
#!git clone https://github.com/pentagramswheel/DataX15.git

import sys
root_path = 'DataX15/Final Project/'
sys.path.append(root_path + 'data-acquisition')


import pandas as pd
import notebook_script

In order to run the scraper you will need to get connected to your Glassdoor account. Please upload a secret.json file into the data-acquisition subfolder: {"username": your_username, "password": your_password}

or use the create_credentials() function.

In [4]:
your_username = 'put_your_glassdoor_username'
your_password = 'put_your_glassdoor_password' # cybersecurity <3
notebook_script.create_credentials(your_username, your_password, root_path)

## **1) Open data**

In [2]:
companies = pd.read_csv(root_path + 'datasets/studied_companies.csv', sep = ';')
all_reviews = pd.read_csv(root_path + 'datasets/all_reviews.csv', sep = ';')

display(companies.head())
display(all_reviews.head())

          Company  ... Latest review
0          Aramco  ...           NaN
1              BP  ...           NaN
2         Chevron  ...           NaN
3  ConocoPhillips  ...           NaN
4             DTE  ...           NaN

[5 rows x 3 columns]

   Unnamed: 0  ...                                               cons
0           0  ...  I have not experienced anything negative so fa...
1           1  ...  Difficult industry business environment curren...
2           2  ...  No downside. PERIOD. Such a great place to joi...
3           3  ...  It is hard times right now. But for me, it's w...
4           4  ...  Even if you worked your tail off the whole yea...

[5 rows x 8 columns]

## **2) Update existing reviews datasets**

In [ ]:
notebook_script.update_reviews_studied_companies()

## **3) Get new companies' reviews**

This sections enables getting reviews for new companies we don't have yet in our datasets.

In [6]:
min_date = '2021-10-22' # Select the date from which you want reviews for the new companies
notebook_script.get_reviews_new_companies(min_date)

'No new companies to scrape'

## **4) Update all_reviews.csv file (reviews, classification and sentiment)**

In [7]:
all_reviews = notebook_script.assemble_all_reviews(root_path) # assemble all the reviews, clean them and save them in all_reviews.csv
display(all_reviews.head())

  Company  ...                                               cons
0  Vestas  ...  Challenging work loads but great training\nBe ...
1  Vestas  ...  Rare to moving up to management. 100 percent t...
2  Vestas  ...  Volume of projects makes is difficult to focus...
3  Vestas  ...  None to speak of or anything\nBe the first to ...
4  Vestas  ...  Wind is a fluctuating market and you are never...

[5 rows x 7 columns]

In [4]:
all_reviews = predict_sentiment(all_reviews) # predicts 'pros' and 'cons' sentiment and saves the updated all_reviews.csv
display(all_reviews.head())

    Company  ...                                               cons
0    Vestas  ...  Challenging work loads but great training\nBe ...
1    Vestas  ...  Rare to moving up to management. 100 percent t...
2    Vestas  ...  Volume of projects makes is difficult to focus...
3    Vestas  ...  None to speak of or anything\nBe the first to ...
4    Vestas  ...  Wind is a fluctuating market and you are never...
..      ...  ...                                                ...
605   Shell  ...  Not as much opportunity as you would expect\n1...
606   Shell  ...  None, just love working here\nAdvice to Manage...
607   Shell  ...  Possibly dangerous working alone, on your feet...
608   Shell  ...  Bureaucracy, too big, too slow, usually requir...
609   Shell  ...  Management doesn't take input\nBe the first to...

[8796 rows x 7 columns]

In [ ]:
all_reviews = predict_social_classification(all_reviews, root_path) # predicts 'pros' and 'cons' Social subcriteria and saves the updated all_reviews.csv
display(all_reviews.head())

## **5) Push the work to git repo**

In [ ]:
!git push https://github.com/pentagramswheel/DataX15.git Final Project:origin master

fatal: not a git repository (or any of the parent directories): .git